.box{
    margin: 0 auto;
    background: #eee;
}
.point{
    width: 5px;
    height: 5px;
    background: red;
    position: absolute;
}
.game-is-over{
    font-size: 16px;
    font-weight: bold;
}
.game-is-over.win{
    color: green;
}
.game-is-over.lose{
    color: red;
}

.players-list{
    margin: 0;
}
.players-list .player-color{
    width: 16px;
    height: 16px;
    border: 1px solid black;
    margin-right: 6px;
}
.players-list .my-player{
    font-weight: bold;
}
.player-in-list div{
    display: inline-block;
}